<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentifyApp">

        <!-- Make LoginActivity the launcher activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Renter Dashboard Activity -->
        <activity
            android:name=".RenterDashboardActivity"
            android:exported="false" />

        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />

        <!-- Lessor Dashboard Activity -->
        <activity
            android:name=".LessorDashboardActivity"
            android:exported="false" />

    </application>
</manifest>

